In [13]:
from pandas_datareader import data
import datetime
import pandas

In [16]:
start=datetime.datetime(2019,6,20)
end=datetime.datetime(2019,6,28)
df=data.DataReader(name="AMD",data_source="yahoo",start=start,end=end)
df

                 High        Low   Open      Close    Volume  Adj Close
Date
2019-06-20  31.360001  29.840000  31.24  30.010000  72418200  30.010000
2019-06-21  30.350000  28.969999  29.65  29.100000  81861300  29.100000
2019-06-24  29.400000  28.670000  29.32  29.260000  55724800  29.260000
2019-06-25  29.719999  28.799999  29.26  28.860001  53680900  28.860001
2019-06-26  30.480000  29.780001  29.98  29.920000  65064200  29.920000
2019-06-27  30.959999  30.209999  30.41  30.740000  55499800  30.740000
2019-06-28  31.100000  30.410000  31.08  30.510000  12055590  30.510000